<%= form_with(model: internet_order, local: true) do |form| %>
  <% if internet_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internet_order.errors.count, "error") %> prohibited this internet_order from being saved:</h2>

      <ul>
        <% internet_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :sn %>
    <%#= form.number_field :sn %>
  </div>

  <div class="field">
    <%= form.label :apply_date %>
    <%= form.date_select :apply_date %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :fb_id %>
    <%= form.text_field :fb_id %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.number_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :DOB %>
    <%= form.date_select :dob %>
  </div>

  <div class="field">
    <%= form.label :house_type %>
    <%= form.select :house_type, options_for_select([ ['', ], 
                                                      ['Mansion', 'Mansion'], 
                                                      ['Apartment', 'Apartment']]) %>
    
  </div>

  <div class="field">
    <%= form.label :kouji_date %>
    <%= form.date_select :kouji_date %>
  </div>

  <div class="field">
    <%= form.label :plan %>
    <%= form.text_field :plan %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :conclusion %>
    <%= form.text_area :conclusion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
