<p id="notice"><%= notice %></p>

<p>
  <strong>Sn:</strong>
  <%= @internet_order.sn %>
</p>

<p>
  <strong>Apply date:</strong>
  <%= @internet_order.apply_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @internet_order.name %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @internet_order.fb_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @internet_order.phone_number %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @internet_order.postal_code %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @internet_order.dob %>
</p>

<p>
  <strong>House type:</strong>
  <%= @internet_order.house_type %>
</p>

<p>
  <strong>Kouji date:</strong>
  <%= @internet_order.kouji_date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @internet_order.plan %>
</p>

<p>
  <strong>Link:</strong>
  <%= @internet_order.link %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @internet_order.conclusion %>
</p>

<%= link_to 'Edit', edit_internet_order_path(@internet_order) %> |
<%= link_to 'Back', internet_orders_path %>
